name: React Docker CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t react-cicd-app .

      - name: Run container test
        run: |
          docker run -d -p 8080:80 --name test-app react-cicd-app
          sleep 5
          curl -f http://localhost:8080

      - name: Stop container
        run: |
          docker stop test-app

